 *{
    background-color:#ffffffc4;
    box-sizing: border-box;
    padding: 0;
    height:auto;
    margin:0;
}
/* LOGO STYLE*/
.logo{ font-size: 25px;color: orangered;font-weight: 600;
        margin-left:5px;
}
/*NAV ELEMENTS STYLE */
ul,#navTab{
    font-family: Arial, Helvetica, sans-serif;
    color:white; font-weight: 600;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    justify-content: space-evenly;
    margin: 5px;
    text-transform: uppercase;
    font-size: calc(12px +  0.3vw);
   }
/* EXTRA NAV ELEMENT STYLE*/
#navList,#navTab{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
}

    /*HEADER STYLE */
header{
    margin: 0;
    background-color:#151E3D;
    height:60px;
    width:100%;
     display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items:center;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    border-bottom: 5px solid #12b3b7;
   /* box-shadow:0 4px 4px -2px black; */
    position:fixed;
    z-index:9999;
}

/* BACKGROUND INHERITANCE OF HEADER COMPONENTS*/
header>nav,ul,li,label,#navTab{
    background-color: inherit;
}

/* NAV ELEMENT EXTRA STYLE*/
#navTab:hover{
    padding: 7px;
    color:orangered;
    transition: 0.4s ease-in-out;
    font-size:20px;
    transition-property:color font-size; 
}
    #navTab:active{
    color:maroon;}



#navRight{
    color: white;
    display:none;
    flex-direction: column;
    text-align:left;
    position: fixed;
    inset: 0% 0% 0% 10%;;
    background:rgba(0,0,0,1.2);
    flex-direction:column ;
    font-weight: 600;
    padding:min(30vh,10rem)2em;
    margin: 0 auto;

}

#menuBar{
    height:30px;
    width: 30px;
    background-color:transparent;
    border: none;
    margin: 10px;
    z-index: 9999;
}
    
#mobilemenu{
    display:flex;
    background-color:transparent;
    z-index: 9999;
    margin: 10px;
    transition: .8s;

}
/* HERO SECTION STYLES*/

.hero-section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;
    background-image: url(Images\ folder/heroimg.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 9;
    transition: .6s;
}
 /*HERO SECTION OVERLAY STYLE */
.hero-section::after{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity:.7;
    z-index:-5 ;
}


/* THE HERO DIV STYLE*/
.hero-div{
    position: relative;
    height:auto;
    width:auto;
    background-color:inherit;
    margin: 0 auto;
    text-align:center;
    line-height:1.5rem;
    background: transparent;
     transition: .6s;

}
 /* INTRO STYLE*/
.intro-name{
    color: white;
    font-size:calc(18px + 0.3vw);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: transparent;
     transition: .7s;
}

.intro-name>span{
    color:orangered;
    background-color:transparent;
     transition: .7s;
}

.abt-text{
    color:white;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:calc(18px + 0.3vw);
    line-height:1.2rem;
    margin:5px;
    background-color: transparent;
    background-color:transparent;
     transition: .7s;
}

/* RESUME BUTTON STYLE*/
#contact-btn{
    color:orangered;
    font-weight:bold;
    font-size:calc(18px + 0.3vw);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 9px;
    list-style-type: none;
    text-decoration: none;
    background-color:transparent;  
    border: 3px solid white;
    cursor: pointer;
    transition: .6s;
}

 #contact-btn:hover{
    color:rgba(255, 255, 255, 1);
    font-weight:bold;
    border:3px solid orangered;
    background-color:rgba(0,0,0);
    transition: 0.3s ease-in;
    transition-property:color background-color border;
}

.resumeDiv{
    margin-top:30px;
    background-color:inherit;
}

/* ABOUT SECTION STYLING */
.aboutSec{
    font-weight:bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    height:auto;
    width:100%;
    margin-bottom: 60px ;

}

#aboutMe{
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}


#widHeader{
    padding: 30px;
}

#widHeader >h1, #widHeader>h1>span{
    color:#383838;
    text-transform: uppercase;
    font-weight: 550;
    font-size:calc(23px + 0.4vw);
}

#widHeader >h1>span{
    padding-bottom:10px;
    border-bottom: 4px solid orangered;
}

.abtGrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom:40px;
}

#myGrid{
    margin:0 auto;
    height:auto;
    width: 100%;
    text-align: center;
   
}

#hexagon{
    margin: 10px auto;
    height: 100px;
    width:120px ;
    background-color:aqua;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

#myGrid>p{
    font-size:calc(13px + 0.2vw);
    line-height:1.2rem;
    background-color: inherit;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#myGrid>h2{
    background-color: inherit;
    color: #808080;
    font-size:calc(25px + 0.3vw);
}

#hexagon>img{
   margin-top: 20px;
    background-color: inherit;
    height:auto;
    width: 60px;
}

#profPhoto{
    margin: 10px auto;
    height: 230px;
    max-width: 260px;
    background-image: url(Images\ folder/josh-photo.jpg);
    background-position:bottom;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size:100%;
    background-repeat: no-repeat;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

#moreInfo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

#moreInfo>p{
    font-weight:bold;
    font-size:calc(13px + 0.3vw);
    text-align: center;
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
}


/* TECH STACK STYLE */
.techStack{
    display: block;
    width: 100%;
    height: auto;
}

#stackHeader{
    margin: 30px 0 50px 0;
}

#stackHeader>h1, #stackHeader>h1>span{
    text-transform: uppercase;
     font-size:calc(23px + 0.4vw); 
    color: #383838;
}

#stackHeader>h1>span{
    border-bottom: 4px solid orangered;
     padding-bottom: 10px;}

.stackGrid,.stackGrid2{
    margin:20px;
    display:flex;
}

#stcGrd{
    margin: 0 auto;
    height:60px;
    width:60px;
}

#stcGrd>img{
    height:auto;
    width:100%;

}

/* PROJECT SECTION DESIGN */
.projectSec{
    height:auto;
    width: 100%;
    background-color:#F0F0F0;
    margin-bottom: 80px;
    border-bottom: 1px solid #F0F0F0;
}

#project{
    background-color: inherit;
    height:auto;
    
}

#projectHead{
    text-align: center;
    padding: 50px;
    width:100%;
    padding: 30px;
    background-color:inherit;
    text-transform: uppercase;
    color: #383838;
    font-family: Arial, Helvetica, sans-serif;
}

#projectHead>h1,#projectHead>h1>span{
    background-color: inherit;
    font-size:calc(23px + 0.4vw);
}

#projectHead>h1>span{
    border-bottom: 3px solid orangered;
}

#projectGrid{
    font-family: Arial, Helvetica, sans-serif;
    height: 230px;
    display: flex;
    max-width:416px;
    margin: 0 auto;
    align-items:center ;
    justify-content: center;
    background-size:100%;
    background-position:top;
    background-color: white;
    position: relative;
    text-align: center;
}


.projectGrid1{
    background: url(Images\ folder/furniturestore.png);
}

.projectGrid2{
    background: url(Images\ folder/movies.png);
}

.projectGrid3{
    background: url(Images\ folder/bookstore.png);
}

.projectGrid4{
    background: url(Images\ folder/cartcart.png);
}

.projectGrid5{
    background: url(Images\ folder/delicious.png);
}


#projectGrid:hover{
     background:none;  background-color:whitesmoke;}
#projectGrid:hover #inner-Grid{display: block;}
#inner-Grid h1,p{
    animation: myAnim 0.6s ease 0s 1 normal forwards;
}

#inner-Grid button{
    animation:secondAnim 0.3s ease 0s 1 normal forwards;
}


@keyframes myAnim{
    0%{
        opacity:0;
        transform: translateY(-50px);
    }

    100%{
        opacity: 1;
        transform: rotateY(0);
    }
}

@keyframes secondAnim{
    0%{
        opacity:0;
        transform: translateY(50px);
    }
    100%{
        opacity:1;
        transform: translateY(0);
    }
}

#inner-Grid{
    display:none;
    margin-top:40px;
    width:100%;
    background-color: transparent;
}

#inner-Grid>h1,p{
    background-color: transparent;
    color:black;
    font-family: 'Times New Roman', Times, serif;
}


#inner-Grid>p{
    color:crimson;font-size:calc(16px + 0.5vw);
}


#inner-Grid>button{
    background-color: transparent;
    color:black;
    margin-top: 80px;
    border: 3px solid crimson;
    width: 120px;
    padding: 3px;
    font-size: 20px;
}

#inner-Grid>button:hover{
    color: #F0F0F0;
    font-weight: 700;
    background-color: crimson;
      transition: 0.3s ease-in;
    transition-property:color background-color border;
}

.contactSec{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    height:auto;
    width:100%;
    background-color: #151E3D;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%,
    0 0, 50% 15%); 
    text-align: center;
}


#contactDiv{
    background-color: inherit;
    width:100%;
    height:520px;    
}

#ctHeader{
    text-align: center;
    background-color:inherit;
    height:auto;
    width: 100%;
    padding-top:100px;
    line-height: 1.5rem;
    margin-top: 20px;
}  

#ctHeader>h1,#ctHeader>h1>span{
     background-color: inherit;
    font-size:calc(23px + 0.4vw);}
#ctHeader>h1{
    margin-top: 40px;
    text-transform: uppercase;
    color: #ffffff;
}
#ctHeader>h1>span{
    padding-bottom:4px ;
    border-bottom:4px solid #ffffff;
}

#ctHeader>p{
    padding: 5px;
    margin-top: 30px;
    font-size:calc(13px + 0.2vw);
    color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
}

#formDiv{
    background-color:inherit;
    margin: 0 auto;
    max-width: 375px;
    height:auto;
    padding: 5px;
}

#formBtn{
    background-color: transparent;
    color: azure;
    border: 2px solid white;
    width: 120px;
    height: auto;
    padding: 5px;
    font-size:calc(12px + 0.3vw);
    margin-right: 19px;
    float: right;
}

input{
    color: white;
    margin: 3px;
    outline: none;
    background-color:#003060;
    padding: 7px;
    width:90%;
    border:none;
    resize: none;
    font-size:calc(13px + 0.3vw);
}
#message{
    outline: none;
    margin: 3px;
    padding: 7px;
    resize: none;
    color: white;
    border:none;
    width:90%;
    height: 100px;
    background-color:#003060;
    max-width:350px;
    font-size:calc(13px + 0.3vw);
}

#myform{ background-color: inherit;}

#footerDiv{
    height:auto;
    width: 100%;
    background-color:black;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
 .footer{
    display:flex;
    margin:0 auto;
    background-color: inherit;
    width:auto;
    padding:50px;
    justify-content:space-around;
 }

 #ft-Tiles{
    max-height:40px;
    max-width:40px;
    margin: 0 auto;
    padding: 9px;
    background-color:#003060;
   

    
 }
 #ft-Tiles>a>img{
    height:auto;
    width: 100%;
    background-color:transparent;
 }

#ft-Tiles>a{
    all:unset;
}

#footerDiv>p{
    color: white;
    text-align: center;
    background-color: inherit;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
} 

#footerDiv>p>span{
    background-color: inherit;
    color:crimson;
    font-size:14px;
}

@media(min-width:1300px){



.abtGrid{
    display:flex;
    margin-bottom:40px;
}





}